/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.margin-auto {
  margin: auto;
}

.align-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.mat-grid-tile.align-baseline .mat-figure {
  align-items: flex-start !important;
}
