<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex.gt-sm="30">
    <ng-container *ngIf="orders?.length > 0; else noOrder">
      <table mat-table #table [dataSource]="orders" multiTemplateDataRows>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let o">{{ o.date }}</td>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let o">
            {{ o.totalPrice | currency: 'HUF ':'symbol':'4.0-2' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-button
              *ngIf="!element.isExpanded"
              (click)="element.isExpanded = !element.isExpanded"
            >
              View Details
              <mat-icon>expand_more</mat-icon>
            </button>
            <button
              mat-button
              *ngIf="element.isExpanded"
              (click)="element.isExpanded = !element.isExpanded"
            >
              Hide Details
              <mat-icon>expand_less</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayColumns.length"
          >
            <div
              class="row element-detail"
              [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
            >
              <mat-list>
                <mat-list-item *ngFor="let product of element.products">
                  <div class="details">
                    <a routerLink="/products/{{ product.id }}">{{
                      product.name
                    }}</a>
                    <span>
                      {{ product.price | currency: 'HUF ':'symbol':'4.0-2' }}
                    </span>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayColumns"
          class="element-row"
          [class.exanded-row]="row.isExpanded"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>
      </table>
    </ng-container>
    <ng-template #noOrder>
      <h2 style="text-align: center; padding-top: 30px;">
        You have no orders yet.
      </h2>
    </ng-template>
  </div>
</div>
